
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewData["Title"] = "EditUser";
    var listData = ViewBag.UserDetails as IList<CodeGen.Model.User.User>;
}

@section Scripts{

    <script>
        $(document).ready(function () {
        $('#hfLocId').val(@listData[0].L4);
        $('.datepicker').datepicker({
        format: "dd-M-yyyy",
        todayBtn: "linked",
        autoclose: true,
        endDate:new Date(),
        //startDate: new Date(),
        todayHighlight: true
        });

            if (@listData[0].levelid== 1) {
                $('#trLoc').show();
                $('#trBlk').hide();
                $('#trPanchayat').hide();
                $('#trVillage').hide();
                bindDist(@listData[0].hid);

            }
            else if (@listData[0].levelid== 2) {
                $('#trLoc').show();
                $('#trBlk').show();
                $('#trPanchayat').hide();
                $('#trVillage').hide();
                bindDist(@listData[0].hid);

                bindBlock(@listData[0].L3)

            }
            else if (@listData[0].levelid== 3) {
                $('#trLoc').show();
                $('#trBlk').show();
                $('#trPanchayat').show();
                $('#trVillage').hide();
                bindDist(@listData[0].hid);

                bindBlock(@listData[0].L2);
                bindPanchayat(@listData[0].L3);


            }
            else if (@listData[0].levelid== 4) {
                $('#trLoc').show();
                $('#trBlk').show();
                $('#trPanchayat').show();
                $('#trVillage').show();
                bindDist(@listData[0].hid);

                bindBlock(@listData[0].L1);
                bindPanchayat(@listData[0].L2);
                bindVillage(@listData[0].L3);

            }
            else {
                 $('#trLoc').hide();
                 $('#trBlk').hide();
                 $('#trPanchayat').hide();
                 $('#trVillage').hide();
            }
            if ('@listData[0].vchgender' == 'M')
            {
               $('#rbMale').prop('checked', true)
            }
           else
            {
            $('#rbFemale').prop('checked', true)
            }
        });
    </script>
    <script>
         function sentenceCase(str) {
          str = str.toLowerCase().split(' ');
        for (var i = 0; i < str.length; i++) {
              str[i] = str[i].charAt(0).toUpperCase() + str[i].slice(1);
            }
            var SentencecaseText = str.join(' ');
            return SentencecaseText;

        }
        $('#ddlHierarchy').change(function () {
            bindDist($('#ddlHierarchy').val());
        });
        function bindDist(Id) {
            if (Id == 0) {
                $('#trLoc').hide();
                $('#trBlk').hide();
                $('#trPanchayat').hide();
                $('#trVillage').hide();
            }
            else {
                var data = {
                    hirarchyid:Id
                };
                $.ajax({
                    type: 'GET',
                    url: '@Url.Content("~/User/getleveldetailsbyhirarchyid")',
                    data: data,
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (response) {

                        if (response.length > 0) {
                            $('#trLoc').show();
                            $('#lblDst').text(sentenceCase(response[0].nvchlabel));
                         $("#ddlLoc").empty();
                         $("#ddlLoc").append($('<option value="0">--Select--</option>'));
                            for (var i = 0; i < response.length; i++) {
                                $("#ddlLoc").append($('<option/>')
                                    .val(response[i].intleveldetailid)
                                    .html(response[i].nvchlevelname)
                                );
                            }
                             if (@listData[0].levelid== 1) {
                             $('#ddlLoc').val(@listData[0].L4);
                                  }
                             else if (@listData[0].levelid== 2) {
                             $('#ddlLoc').val(@listData[0].L3);
                                  }
                             else if (@listData[0].levelid== 3) {
                             $('#ddlLoc').val(@listData[0].L2);
                                  }
                             else if (@listData[0].levelid== 4) {
                             $('#ddlLoc').val(@listData[0].L1);
                                  }
                             else {
                             $('#ddlBlock').val(0);
                                  }
                        }
                         else {
                              $('#trLoc').hide();
                        }
                    },
                    error: function (error) {
                        $('#trLoc').hide();
                        console.log(error);
                    }
                });
            }
        }
    function bindBlock(Id) {
                     var vdata = {
                         ParentId: Id
                     };
                $.ajax({
                    type: 'GET',
                    url: '@Url.Content("~/User/getLevelDetailsByParentId")',
                    data: vdata,
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json',
                    success: function (response) {
                        if (response.length > 0) {
                            $('#trBlk').show();
                            $('#lblBlk').text(sentenceCase(response[0].nvchlabel));
                            $("#ddlBlock").empty();
                            $("#ddlBlock").append($('<option value="0">--Select Block--</option>'));
                            for (var i = 0; i < response.length; i++) {
                                $("#ddlBlock").append($('<option/>')
                                    .val(response[i].intleveldetailid)
                                    .html(response[i].nvchlevelname)
                                );
                            }
                            if (@listData[0].levelid== 2) {
                                $('#ddlBlock').val(@listData[0].L4);
                            }
                            else if (@listData[0].levelid== 3) {
                                $('#ddlBlock').val(@listData[0].L3);
                            }
                            else if (@listData[0].levelid== 4) {
                                $('#ddlBlock').val(@listData[0].L2);
                            }
                            else {
                                $('#ddlBlock').val(0);
                            }
                        }
                        else {
                            $('#trBlk').hide();
                        }

                },
                    error: function (error) {
                        $('#trBlk').hide();
                    console.log(error);
                    }
               });
        }
        function bindPanchayat(Id) {
                     var vdata = {
                         ParentId: Id
                     };
                $.ajax({
                    type: 'GET',
                    url: '@Url.Content("~/User/getLevelDetailsByParentId")',
                    data: vdata,
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json',
                    success: function (response) {
                        if (response.length > 0) {
                            $('#trPanchayat').show();
                            $('#lblPan').text(sentenceCase(response[0].nvchlabel));
                            $("#ddlPanchayat").empty();
                            $("#ddlPanchayat").append($('<option value="0">--Select Panchayat--</option>'));
                            for (var i = 0; i < response.length; i++) {
                                $("#ddlPanchayat").append($('<option/>')
                                    .val(response[i].intleveldetailid)
                                    .html(response[i].nvchlevelname)
                                );
                            }

                            if (@listData[0].levelid== 3) {
                                $('#ddlPanchayat').val(@listData[0].L4);
                            }
                            else if (@listData[0].levelid== 4) {
                                $('#ddlPanchayat').val(@listData[0].L3);
                            }
                            else {
                                $('#ddlPanchayat').val(0);
                            }
                        }
                        else {
                             $('#trPanchayat').hide();
                        }
                },
                    error: function (error) {
                        $('#trPanchayat').hide();
                    console.log(error);
                    }
               });
        }
         function bindVillage(Id) {
                     var vdata = {
                         ParentId: Id
                     };
                $.ajax({
                    type: 'GET',
                    url: '@Url.Content("~/User/getLevelDetailsByParentId")',
                    data: vdata,
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json',
                    success: function (response) {
                        if (response.length > 0) {
                            $('#trVillage').show();
                            $('#lblVil').text(sentenceCase(response[0].nvchlabel));
                            $("#ddlVillage").empty();
                            $("#ddlVillage").append($('<option value="0">--Select Village--</option>'));
                            for (var i = 0; i < response.length; i++) {
                                $("#ddlVillage").append($('<option/>')
                                    .val(response[i].intleveldetailid)
                                    .html(response[i].nvchlevelname)
                                );
                            }
                            if (@listData[0].levelid== 4) {
                                $('#ddlVillage').val(@listData[0].L4);
                            }
                            else {
                                $('#ddlVillage').val(0);
                            }
                        }
                        else {
                            $('#trVillage').hide();
                        }
                },
                    error: function (error) {
                        $('#trVillage').hide();
                    console.log(error);
                    }
               });
    }
    $('#ddlLoc').change(function () {
            if ($('#ddlLoc').val() > 0) {
                $('#hfLocId').val($('#ddlLoc').val());
                bindBlock($('#ddlLoc').val());
            }
            else {
                $('#trBlk').hide();
                $('#trPanchayat').hide();
                $('#trVillage').hide();
            }
        });
         $('#ddlBlock').change(function () {
             if ($('#ddlBlock').val() > 0) {
                 $('#hfLocId').val($('#ddlBlock').val());
                bindPanchayat($('#ddlBlock').val());
            }
             else {
                 $('#hfLocId').val($('#ddlLoc').val());
                 $('#trPanchayat').hide();
                 $('#trVillage').hide();
            }
         });
         $('#ddlPanchayat').change(function () {
             if ($('#ddlPanchayat').val() > 0) {
                $('#hfLocId').val($('#ddlPanchayat').val());
                bindVillage($('#ddlPanchayat').val());
            }
             else {
                 $('#hfLocId').val($('#ddlBlock').val());
                 $('#trVillage').hide();
            }
         });
         $('#ddlVillage').change(function () {
             if ($('#ddlVillage').val() > 0) {
                $('#hfLocId').val($('#ddlVillage').val());
            }
             else {
                 $('#hfLocId').val($('#ddlPanchayat').val());
            }
         });
     function inputLimiter(e, allow) {
    var AllowableCharacters = '';
    if (allow == 'NameCharactersymbol') {
        AllowableCharacters = ' ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz./&';
    }
    if (allow == 'NameCharacters') {
        AllowableCharacters = ' ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz-.\'';
    }
    if (allow == 'NameCharactersAndNumbers') {
        AllowableCharacters = '1234567890 ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz@@-,/.\'';
    }
    if (allow == 'Description') {
        AllowableCharacters = '1234567890 ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz_-,./\&(){}[]#$:';
    }
    if (allow == 'Numbers') {
        AllowableCharacters = '1234567890';
    }
    if (allow == 'Decimal') {
        AllowableCharacters = '1234567890.';
    }
    var k;
    k = document.all ? parseInt(e.keyCode) : parseInt(e.which);
    if (k != 13 && k != 8 && k != 0) {
        if ((e.ctrlKey == false) && (e.altKey == false)) {
            return (AllowableCharacters.indexOf(String.fromCharCode(k)) != -1);
        }
        else {
            return true;
        }
    }
    else {
        return true;
    }
}
        $('#btnReset').click(function () {
                var newUrl ="@Url.Action("EditUser", "User")";
                window.location.href = newUrl;

        });
        function validate() {
           var dob = Date.parse($('#txtDOB').val());
            var doj = Date.parse($('#txtDOJ').val());
            var CurrentDate = new Date();
            if ($('#txtName').val() == '') {
                alert('Please enter Name!');
                $('#txtName').focus();
                return false;
            }
            else if ($('#txtUName').val() == '') {

                alert('Please enter User Name!');
                $('#txtUName').focus();
                return false;
            }
            else if ($('#ddlHierarchy').val() == 0) {
                alert('Please select Location!');
                $('#ddlHierarchy').focus();
                return false;
            }
            else if ($('#ddlLoc').val() == 0) {
                alert('Please select Parent Level!');
                $('#ddlLoc').focus();
                return false;
            }
            else if ($('#ddlPhyLoc').val() == 0) {
                alert('Please select Physical Location!');
                $('#ddlPhyLoc').focus();
                return false;
            }
            else if ($('#txtDOJ').val() == '') {
                alert('Please select Date Of Joining!');
                $('#txtDOJ').focus();
                return false;
            }
            else if ($('#ddlDesgn').val() == 0) {
                alert('Please select Designation!');
                $('#ddlDesgn').focus();
                return false;
            }
            else if ($('#txtDOB').val() == '') {
                alert('Please select Date of Birth!');
                $('#txtDOB').focus();
                return false;
            }
            else if ($('#txtEmail').val() == '') {
                alert('Please enter Email!');
                $('#txtEmail').focus();
                return false;
            }
            else if ($('#txtMob').val() == '') {
                alert('Please enter Mobile!');
                $('#txtMob').focus();
                return false;
            }
            else if (IsEmail($('#txtEmail').val()) == false) {
                alert('Please enter valid Email!');
                $('#txtEmail').focus();
                return false;
            }
            else if (doj > Date.parse(CurrentDate)) {
                alert('Date of joining should be less than Todays date!');
                $('#txtDOJ').focus();
                return false;
            }

            else if (dob > Date.parse(CurrentDate)) {
                alert('Date of birth should be less than Todays date!');
                $('#txtDOB').focus();
                return false;
            }

            else if (dob >= doj) {
                alert('Date of birth should be greater than Date of joining!');
                $('#txtDOJ').focus();
                return false;
            }

            else if (calculate_age(new Date($('#txtDOB').val())) < 18) {
                alert('Age must be above 18 !');
                $('#txtDOB').focus();
                return false;
            }
            //   else if ($('#fuImg').val() == '') {
            //    alert('Please select Image!');
            //    $('#fuImg').focus();
            //    return false;
            //}
            else {
                return true;
            }
        }
         function IsEmail(email) {
            var regex = /^([a-zA-Z0-9_\.\-\+])+\@@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
            if(!regex.test(email)) {
              return false;
            }
            else
            {
              return true;
            }
         }
        $('#btnUpdate').click(function () {
            if (validate()) {
                if (confirm('Are you sure you want to update?')) {
                    var gender;
                    if ($('#rbMale').prop('checked')==true) {
                        gender = 'M';
                    }
                    else {
                        gender = 'F';
                    }
                    var fileData = new FormData();
                    if (window.FormData !== undefined) {
                        var fileUpload = $("#fuImg").get(0);
                        var files = fileUpload.files;
                        for (var i = 0; i < files.length; i++) {
                            fileData.append(files[i].name, files[i]);
                        }
                    }
                      fileData.append("Image", $('#fuUploadPocPrev').text());
                      fileData.append("Name", $('#txtName').val());
                      fileData.append("UserName",$('#txtUName').val());
                      fileData.append("UserId", $('#hfUserId').val());
                      fileData.append("Location", $('#hfLocId').val());
                      fileData.append("PhyscalLocation", $('#ddlPhyLoc').val());
                      fileData.append("DOJ", $('#txtDOJ').val());
                      fileData.append("Designation", $('#ddlDesgn').val());
                      fileData.append("Gender", gender);
                      fileData.append("DOB", $('#txtDOB').val());
                      fileData.append("Email", $('#txtEmail').val());
                      fileData.append("Mobile", $('#txtMob').val());
                      UpdateUserData(fileData);
                }
            }
        });
        function UpdateUserData(Data) {
        $.ajax({
           type: "POST",
           url:"@Url.Action("EditUserData", "User")",
           data: Data,
           contentType: false, // Not to set any content header
           processData: false, // Not to process data
            success: function (res) {
                if (res == '2') {
                    alert('User updated successfully!');
                    var newUrl ="@Url.Action("ViewUser", "User")";
                    window.location.href = newUrl;
                }
                else if (res == '4') {
                    alert('Username already exist!');
                }
                else {
                    alert(res);
                }
           },
           failure: function (response) {
               console.log(response.responseText);
           },
            error: function (response) {
                console.log(response.responseText);
            }
        });
        }

        function CheckFileType(cntr, ftype) {
    var userImg = '@Url.Content("~/imgs/no_user.png")';
    // Get the file upload control file extension
    var extn = $('#' + cntr).val().split('.').pop().toLowerCase();
    if (extn != '') {

        // Create array with the files extensions to upload
        var fileListToUpload;
        if (parseInt(ftype) == 1)
            fileListToUpload = new Array('pdf', 'jpg', 'jpeg');
        else if (parseInt(ftype) == 2)
            fileListToUpload = new Array('jpg', 'jpeg','png');
        else
            fileListToUpload = new Array('pdf');

        //Check the file extension is in the array.
        var isValidFile = $.inArray(extn, fileListToUpload);

        // isValidFile gets the value -1 if the file extension is not in the list.
        if (isValidFile == -1) {
            if (parseInt(ftype) == 1) {
                bootbox.alert('Please upload a valid document of type pdf/jpg/jpeg.!!!');
                $('#' + cntr).replaceWith($('#' + cntr).val('').clone(true));
                $('#' + cntr).focus();
            }
            else if (parseInt(ftype) == 2) {
                alert('Please upload a valid document of type jpg/jpeg/png.!!!');
                $('#showPhoto').attr('src', userImg);
                $('#' + cntr).replaceWith($('#' + cntr).val('').clone(true));
                $('#' + cntr).focus()
            }
            else if (parseInt(ftype) == 3) {
                bootbox.alert("<strong>Please upload a valid file of type pdf.!!!</strong>");
                $('#fuUploadPocPrev').text("Choose File");
                $('#' + cntr).replaceWith($('#' + cntr).val('').clone(true));
                $('#' + cntr).focus();
            }
            else {
                bootbox.alert('Please Upload a valid document !!!');
                $('#' + cntr).replaceWith($('#' + cntr).val('').clone(true));
                $('label[id*="' + cntr + '"]').text('');
                $('#' + cntr).focus();
            }
        }
        else {
            // Restrict the file size to 2MB(1024 * 5120;)
            if ($('#' + cntr).get(0).files[0].size > (5242880)) {
                alert("<strong>Poceeding file size should not exceed 5MB.!!!</strong>");
                $('#fuUploadPocPrev').text("Choose File");
                $('#' + cntr).replaceWith($('#' + cntr).val('').clone(true));
                $('#' + cntr).focus();
            }
            if ($('#' + cntr).get(0).files[0].name.length > 100) {
                alert("<strong>Poceeding file Name should be maximum 100 Characters!</strong>");
                $('#fuUploadPocPrev').text("Choose File");
                $('#' + cntr).replaceWith($('#' + cntr).val('').clone(true));
                $('label[id*="' + cntr + '"]').text('');
                $('#' + cntr).focus();
            }
            else
                return true;
        }
    }
    else
        return true;
        }
    function calculate_age(birthday) { // birthday is a date
          var ageDifMs = Date.now() - birthday.getTime();
          var ageDate = new Date(ageDifMs); // miliseconds from epoch
          return Math.abs(ageDate.getUTCFullYear() - 1970);
    }
    function ValidateFile(cntr, strText) {
    var strValue = $('#' + cntr).get(0).files.length;
       if (strValue == "0") {
        bootbox.alert("Please upload " + strText);
        $('#fuUploadPocPrev').text("Choose File");
        return false;
       }
       else
        return true;
    }
     $('#fuImg').on('change', function (e) {
          var file = $('#fuImg')[0].files[0].name;
           $('#fuUploadPocPrev').text(file);
        if (!ValidateFile('fuImg', 'Valid Document')) {
         return false;
        };
        if (!CheckFileType('fuImg', '2')) {
        return false;
        };
     });
    </script>
    <script type="text/javascript">
        $(function () {
            $("#btnReset").bind("click", function () {
                  var url = '@Url.Action("ViewUser", "User")';
                window.location.href = url;

            });
        });
    </script>

}
<div class="section">
    <div class="page-title">
        <div class="title-details">
            <h4>Update User</h4>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><span class="icon-home1"></span></li>
                    <li class="breadcrumb-item">Manage User</li>
                    <li class="breadcrumb-item active" aria-current="page">Create New User</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <ul class="nav nav-tabs nav-fill" role="tablist">
                        <a class="nav-item nav-link active" asp-controller="User" asp-action="AddUser">Add</a>
                        <a class="nav-item nav-link" asp-controller="User" asp-action="ViewUser">View</a>
                    </ul>
                    <div class="indicatorslist">
                        <p class="ml-2 text-danger">(*) Indicates mandatory </p>
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-12 col-md-2 col-xl-2 control-label" for="demo-email-input">Full Name <span class="text-danger">*</span></label>
                        <div class="col-12 col-md-6 col-xl-4">
                            <span class="colon">:</span>
                            <input type="hidden" value="@listData[0].intuserid" id="hfUserId" />
                            <input type="text" value="@listData[0].vchfullname" id="txtName" class="form-control" autofocus maxlength="100" onkeypress="return inputLimiter(event,'NameCharactersymbol')" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-12 col-md-2 col-xl-2 control-label" for="demo-email-input">User Name <span class="text-danger">*</span></label>
                        <div class="col-12 col-md-6 col-xl-4">
                            <span class="colon">:</span>
                            <input type="text" value="@listData[0].vchusername" id="txtUName" class="form-control" maxlength="45" onkeypress="return inputLimiter(event,'NameCharactersymbol')" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-12 col-md-2 col-xl-2 control-label">
                            Location
                            <span class="text-danger">*</span>
                        </label>
                        <div class="col-12 col-md-6 col-xl-4">
                            <span class="colon">:</span>
                            <select asp-items="@(new SelectList(ViewBag.ParentLoc,"INTHIERARCHYID","NVCHHIERARCHYNAME",@listData[0].hid))" id="ddlHierarchy" class="form-control" autofocus>
                                <option value="0">--Select Location--</option>
                            </select>
                        </div>

                    </div>
                    <div class="form-group row" id="trLoc">
                        <label class="col-12 col-md-2 col-xl-2 control-label" for="demo-email-input" id="lblDst"> <span class="text-danger">*</span></label>
                        <div class="col-12 col-md-6 col-xl-4">
                            <span class="colon">:</span>
                            <input type="hidden" id="hfLocId" />
                            <select class="form-control" id="ddlLoc">
                                <option value="0">--select--</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row" id="trBlk">
                        <label class="col-12 col-md-2 col-xl-2 control-label" for="demo-email-input" id="lblBlk"> </label>
                        <div class="col-12 col-md-6 col-xl-4">
                            <span class="colon">:</span>
                            <select class="form-control" id="ddlBlock">
                            </select>
                        </div>
                    </div>
                    <div class="form-group row" id="trPanchayat">
                        <label class="col-12 col-md-2 col-xl-2 control-label" for="demo-email-input" id="lblPan"> </label>
                        <div class="col-12 col-md-6 col-xl-4">
                            <span class="colon">:</span>
                            <select class="form-control" id="ddlPanchayat">
                            </select>
                        </div>
                    </div>
                    <div class="form-group row" id="trVillage">
                        <label class="col-12 col-md-2 col-xl-2 control-label" for="demo-email-input" id="lblVil"> </label>
                        <div class="col-12 col-md-6 col-xl-4">
                            <span class="colon">:</span>
                            <select class="form-control" id="ddlVillage">
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-12 col-md-2 col-xl-2 control-label" for="demo-email-input">Physical Location<span class="text-danger">*</span></label>
                        <div class="col-12 col-md-6 col-xl-4">
                            <span class="colon">:</span>
                            <select class="form-control" id="ddlPhyLoc" asp-items="@(new SelectList(ViewBag.PhysicalLoc, "INTLOCATIONID", "NVCHLOCATION",listData[0].intLocation))">
                                <option>--select--</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-12 col-md-2 col-xl-2 control-label" for="demo-readonly-input">Date of Joining <span class="text-danger">*</span></label>
                        <div class="col-12 col-md-6 col-xl-4">
                            <span class="colon">:</span>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default"><i class="icon-calendar1"></i></span>
                                </div>
                                <input type="text" id="txtDOJ" value="@listData[0].DateOfJoing" class="form-control datepicker" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-12 col-md-2 col-xl-2 control-label" for="demo-email-input">Designation <span class="text-danger">*</span></label>
                        <div class="col-12 col-md-6 col-xl-4">
                            <span class="colon">:</span>

                            <select class="form-control" id="ddlDesgn" asp-items="@(new SelectList(ViewBag.Designation, "INTDESIGID", "NVCHDESIGNAME",listData[0].intDesignationID))">
                                <option>--select--</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-12 col-md-2 col-xl-2 control-label" for="demo-email-input">Gender <span class="text-danger">*</span></label>
                        <div class="col-12 col-md-6 col-xl-4">
                            <span class="colon">:</span>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="rbMale" name="Gender" class="custom-control-input" checked>
                                <label class="custom-control-label" for="rbMale">Male</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="rbFemale" name="Gender" class="custom-control-input">
                                <label class="custom-control-label" for="rbFemale">Female</label>
                            </div>

                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-12 col-md-2 col-xl-2 control-label" for="demo-readonly-input">Date of Birth <span class="text-danger">*</span></label>
                        <div class="col-12 col-md-6 col-xl-4">
                            <span class="colon">:</span>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default"><i class="icon-calendar1"></i></span>
                                </div>
                                <input type="text" id="txtDOB" value="@listData[0].DateOfBirth" class="form-control datepicker" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-12 col-md-2 col-xl-2 control-label" for="demo-email-input">Email <span class="text-danger">*</span></label>
                        <div class="col-12 col-md-6 col-xl-4">
                            <span class="colon">:</span>
                            <input id="txtEmail" type="text" class="form-control" value="@listData[0].vchemail" maxlength="50" onkeypress="return inputLimiter(event,'NameCharactersAndNumbers')">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-12 col-md-2 col-xl-2 control-label" for="demo-email-input">Mobile <span class="text-danger">*</span></label>
                        <div class="col-12 col-md-6 col-xl-4">
                            <span class="colon">:</span>
                            <input id="txtMob" type="text" value="@listData[0].vchmobtel" class="form-control" maxlength="10" onkeypress="return inputLimiter(event,'Numbers')">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-12 col-md-2 col-xl-2 control-label">Image<span class="text-danger">*</span></label>
                        <div class="col-12 col-md-6 col-xl-4">
                            <span class="colon">:</span>
                            <span class="pull-left btn btn-default btn-file">
                                Choose File<input type="file" id="fuImg">

                            </span><span style="font-weight: bold; color: dodgerblue" id="fuUploadPocPrev">@listData[0].UserImage</span>
                            <img src="~/UserImage/@listData[0].UserImage" alt="" style="width: 140px;height:150px;" id="showPhoto" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-12 col-md-2 col-xl-2 control-label" for="demo-email-input"> <span class="text-danger"></span></label>
                        <div class="col-12 col-md-6 col-xl-4">
                            <span class="colon"></span>
                            <span class="helper-text" style="font-weight: bold; color: Green">Only jpg/jpeg/png files upto 5MB allowed.</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-12 col-md-2 col-xl-2 control-label" for="demo-email-input"> <span class="text-danger"></span></label>
                        <div class="col-12 col-md-6 col-xl-4">
                            <span class="colon"></span>
                            <a class="btn btn-primary mb-1t white-text" title="Submit" id="btnUpdate">Update</a>
                            <a class="btn btn-danger mb-1 white-text" title="Reset" id="btnReset">Cancel</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

